# Server Configuration
PORT=3000
NODE_ENV=development

# API Configuration
API_URL=http://localhost:3000/api

# Database (untuk future use)
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=password
# DB_NAME=mahasiswa_db
